:root {
    --main-color: #FFFFFF;
    --secondary-color: #FF6C00;
    --address-color: #9DA4BD;
    --text-color: #555555;
    --title-color: #303030;
    --price-color: #9DA4BD;
    --background-color: #FFFFFF;
    --text-color-secondary: #9DA4BD;
    --text-color-main: #303030;
    --text-btn-main: #FFFFFF;
    --text-btn-secondary: #303030;


}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; 
    
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
/* header */

.nav-items {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3333;
    color: var(--main-color);
}
.header {
    background-color: rgba(25, 28, 38, 0.2);
    letter-spacing: 0.1em;
}

.header >a{
    color: var(--main-color);
    font-size: 12px;
    line-height: 1.3333;

}
.header > a:hover,
.header > a:focus {
    color: var(--secondary-color);
}
.header-btn {
    color: var(--main-color);
}
.nav-item > a {
    color: var(--main-color);

}
.nav-item > a:hover,
.nav-item > a:focus {
    color: var(--secondary-color);
}
/* hero */
.hero {
    letter-spacing: 0.02em;
    background: rgba(25, 28, 38, 0.2);
}
.hero-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.1805;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.hero-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.6666;
    color: #9DA4BD;
}

.hero-text.botton {
    font-size: 18px;
    line-height: 1.6666;
    color: var(--text-color-secondary);
}

/* about */
.about {
    background: var(--background-color);
    letter-spacing: 0.02em;
}
.about-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.3636;
    color: var(--text-color-main);
    text-transform: uppercase;
}
.about-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.1666;
    letter-spacing: 0.05em;
    color: var(--title-color);

}
.about-text.middle {
        font-size: 18px;
        line-height: 1.6666;
        color: var(--text-color);
}
.about-text.botton {
    font-size: 14px;
    line-height: 1.8571;
    color: var(--text-color);
}

.btn-about {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3333;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--text-btn-secondary);

}

/* prices */

.prices {
    letter-spacing: 0.02em;
    background-color: #2a2a2a2a ;
}
.prices-text {
    font-weight: 600;
    font-size: 11px;
     line-height: 1.3636;
     text-transform: uppercase;
     color: rgba(157, 164, 189, 0.6);
}
.prices-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.1666;
    letter-spacing: 0.05em;
    color: var(--main-color);
}

.prices-botton  p {
    font-size: 18px;
    line-height: 1.6666;
    color: var(--price-color);
}

.prices-btn {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--text-btn-main);
}

/* features */

.features {
    background-color: var(--background-color);
    letter-spacing: 0.02em;
}

.features-items h3 {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--text-color-main);

}

.features-items p {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: var(--text-color-main);
}

.features-items sup {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.37;
    color: var(--secondary-color);
}

.features-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--text-color-main);
}

.features-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--text-color-main);
}

.features-botton {
    font-size: 18px;
    line-height: 1.66;
    color: var(--text-color);

}

/* barbers */

.barbers {
    background: #F7F7F7;
    letter-spacing: 0.02em;

}

.barbers.text {
    font-weight: 600;
     font-size: 11px;
    line-height: 1.36;
    color: var(--text-color-main);

}

.barbers-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--text-color-main);

}

.barbers h3 {
    font-size: 18px;
    line-height: 1.38;
    color: var(--text-color-main);
}

.barbers p {
    font-size: 14px;
    line-height: 1.35;
    color: var(--secondary-color);
}

/* barba */

.barba {
    background-color: var(--background-color);

}

.barba p {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    color: var(--text-color-main);
}

/* contacts */

.contacts {
    letter-spacing: 0.02em;
    background-color: #2a2a2a2a;
}

.contacts h2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--main-color);
}

.contacts .map {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.66;
    color: var(--text-color-secondary);

}
.contacts .map:hover,
.contacts .map:focus {
    color: var(--secondary-color);

}
.contacts .numb {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    color: var(--text-color-secondary);

}
.contacts .numb:hover,
.contacts .numb:focus {
    color: var(--secondary-color);

}

.contacts .mail {
    font-size: 18px;
    line-height: 1.66;
    color: var(--text-color-secondary);
    text-decoration-line: underline;

}
.contacts .mail:hover,
.contacts .mail:focus {
    color: var(--secondary-color);

}
address {
    font-style: normal;
}
.contacts-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    color: var(--main-color);
}
.contacts-time {
    font-size: 18px;
    line-height: 1.66;
    color: var(--text-color-secondary);
}
/* footer */
.footer {
    background: #F7F7F7;
    letter-spacing: 0.2em;

}
.copyright-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    color: var(--text-color-secondary);
}
.footer ul {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    color: var(--text-color-main)
}